ion-toolbar {
  background-color: #222428;
}
ion-content {
  --overflow: hidden;
  height: 100%;
}
.bttm_buttons {
  --background: #222428;
  --background-activated: #131416;
  --background-focused: #2e3136;
  --background-hover: #2d3035;
}
#buttons {
  margin: 0 16px;
}
#png {
  margin: 0;
  padding: 0;
  height: 30px;
  ion-label {
    padding-bottom: 10px;
  }
}
canvas {
  border: 1px solid rgb(187, 178, 178);
}
.color-block {
  height: 40px;
}